Repository Tune-Manner/CarTune, pull requests merged in 2024-07, with the labels that each got.

#4 #2 React 기본 설정
  frontend/package-lock.json
  frontend/package.json
  frontend/public/cartune-logo-white.png
  frontend/public/cartune-logo.png
  frontend/src/App.js
  frontend/src/components/common/PlayListHeader.js
  frontend/src/components/common/SearchHeader.js
  frontend/src/index.js
  frontend/src/layouts/Layout.js
  frontend/src/layouts/MainLayout.js
  frontend/src/layouts/PlayListLayout.js
  frontend/src/layouts/SearchLayout.js
  frontend/src/modules/index.js
  frontend/src/pages/search/WeatherSearch.js
  frontend/src/store.js
Labels: feature, frontend, UI

#7 pr-template added
  .github/pull_request_template.md
Labels: documentation

#8 PR Template 추가
  .github/pull_request_template.md
  .gitignore
  backend/app.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/index.js
Labels: documentation

#16 Feature/voice text tokenizer
  backend/voice/api_process_audio.py
  backend/voice/api_recognize.py
  backend/voice/api_tokenizer.py
  backend/voice/recognize.py
  package-lock.json
Labels: feature

#10 #3 ChatGPT API 연동
  .github/pull_request_template.md
  .gitignore
  backend/gpt.py
Labels: backend, feature

#23 #3, #9 openAI 및 spotify API를 활용한 기능 구현
  .gitignore
  backend/gpt/gpt.py
  backend/music/music.py
  frontend/src/App.js
  frontend/src/music_playlist.js
Labels: backend, feature

#24 #20 전환 모션 적용
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/index.js
  frontend/src/pages/Main.js
Labels: feature, frontend, UI

#27 Feature/front template 20 motion
  .gitignore
Labels: bug

#29 Feature/front template 17 voice recognize
  frontend/package-lock.json
  frontend/package.json
  frontend/src/custom-components/card/WeatherCard_v2.js
  frontend/src/pages/music/Playlist.js
  frontend/src/pages/search/WeatherOptions.css
  frontend/src/pages/search/WeatherOptions.js
  frontend/src/pages/search/WeatherSearchResult.js
Labels: frontend

#31 #: frontend 추가 구현
  backend/music/music.py
  frontend/src/pages/music/Playlist.css
  frontend/src/pages/music/Playlist.js
Labels: frontend

#32 refactor: move weather data
  frontend/src/pages/music/Playlist.js
  frontend/src/pages/search/WeatherOptions.css
  frontend/src/pages/search/WeatherOptions.js
Labels: refactor

#33 [Feat] 코드 중간 통합
  backend/api.py
  backend/email/send_email.py
  backend/email/test_email.py
  backend/gpt/gpt.py
  backend/music/music.py
  frontend/src/custom-components/card/WeatherCard_v2.js
  frontend/src/pages/music/Playlist.js
  frontend/src/pages/search/WeatherOptions.css
  frontend/src/pages/search/WeatherOptions.js
Labels: refactor

#37 Feature/email 코드 중간 통합
  backend/email/send_email.py
  backend/email/test_email.py
  frontend/src/App.js
  frontend/src/apis/emailAPICalls.js
  frontend/src/apis/weatherAPICalls.js
  frontend/src/custom-components/form/EmailInput.js
  frontend/src/modules/EmailModules.js
  frontend/src/modules/WeatherModules.js
  frontend/src/modules/index.js
  frontend/src/pages/music/Playlist.js
  frontend/src/pages/music/SendEmail.js
Labels: frontend

#38 Update .gitignore
  .gitignore
Labels: feature, frontend

#39 #36 gpt, spotify api 연동
  backend/api.py
  backend/gpt/gpt.py
  backend/music/music.py
Labels: backend, feature

#41 #40 playlist page front 구현
  backend/music/music.py
  frontend/src/pages/music/Playlist.js
Labels: backend, feature, frontend

#43 [Merge] 코드 중간 통합
  .gitignore
  backend/api.py
  backend/gpt/gpt.py
  backend/vision/recognize_anything.py
  backend/voice/api_recognize.py
  frontend/src/apis/weatherAPICalls.js
  frontend/src/custom-components/card/WeatherCard_v3.js
  frontend/src/pages/music/Playlist.js
  frontend/src/pages/search/WeatherOptions.js
  frontend/src/pages/search/WeatherSearch.js
  frontend/src/pages/search/WeatherSearchResult.js
Labels: refactor, backend, frontend

#45 readme 수정
  README.md
Labels: documentation
